* {
  box-sizing: border-box;
}

.p9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 1280px;
  height: 3400px;
  overflow: hidden;
  row-gap: 40px;

  .connectWallet {
    flex-shrink: 0;
    line-height: 23px;
    letter-spacing: 0.01px;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .divPageNavPageNavInn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-right: 3px;
    margin-left: 3px;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #0000001a;
    padding: 14px 106px 13px;
    min-width: 1274px;

    .sVg {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 10px;
      padding: 5px 1px;
      overflow: hidden;

      .group {
        flex-shrink: 0;
        width: 12px;
        height: 15px;
      }

      .aBcweb3Club {
        flex-shrink: 0;
        line-height: 23px;
        letter-spacing: 0.01px;
        color: #f5a200;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .link {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      border-radius: 5px;
      box-shadow: 0px 0px 1px 0px #0000001f, 0px 2px 3px 0px #00000012,
        0px 4px 9px 0px #0000000d;
      background: #ffbb33;
      padding: 6px 11px;
      row-gap: 10px;
    }
  }

  .frame1000011300 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    margin-right: 124px;
    margin-left: 124px;
    padding-bottom: 100px;
    row-gap: 40px;

    .join {
      flex-shrink: 0;
      line-height: 17px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .frame1000011298 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;

      .frame1000011290 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        row-gap: 32px;

        .eTernalprofitcommuni {
          flex-shrink: 0;
          align-self: stretch;
          width: 440px;
          line-height: 65px;
          letter-spacing: -1.92px;
          color: #050505;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 61px;
          font-weight: 700;
        }

        .link2 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          margin-right: 293px;
          border-radius: 5px;
          box-shadow: 0px 0px 1px 0px #0000001f, 0px 2px 3px 0px #00000012,
            0px 4px 9px 0px #0000000d;
          background: #ffbb33;
          padding: 6px 14px;
        }
      }

      .sectionPictureDocsHe {
        flex-shrink: 0;
        width: 578px;
        height: 316px;
        overflow: hidden;
      }
    }

    .frame1000011293 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 16px;

      .frame1000011296 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 2px;
        margin-right: 387px;

        .linkDuplicateTemplat {
          flex-shrink: 0;
          line-height: 19px;
          letter-spacing: 0.05px;
          color: #996600;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .link3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 13px;
          height: 19px;
          line-height: 19px;
          letter-spacing: 0.05px;
          color: #996600;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .frame1000011295 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .spanKombiBlockIcon0X {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          margin-right: 440px;
          border-radius: 5px;
          background: #fff6d6;
          padding: 6px;

          .sVg2 {
            width: 20px;
            height: 20px;
            overflow: hidden;
          }
        }

        .frame1000011294 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 4px;

          .a01 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            width: 472px;
            height: 30px;
            line-height: 30px;
            letter-spacing: -0.44px;
            color: #050505;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 600;
          }

          .welcomeToTheEternalP {
            flex-shrink: 0;
            align-self: stretch;
            width: 472px;
            line-height: 19px;
            letter-spacing: 0.1px;
            color: #050505;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .group2 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        border: 2px solid #00000014;
        border-radius: 12px;
        background: #ffffff;
        padding: 13px 16px;
        row-gap: 34px;
      }

      .group3 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        border: 2px solid #00000014;
        border-radius: 12px;
        background: #f6f5f4;
        padding: 13px 16px;
        row-gap: 34px;
      }
    }

    .frame1000011292 {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      margin-right: 4px;
      margin-left: 4px;
      padding-top: 40px;
      padding-bottom: 40px;
      row-gap: 44px;

      .heading2ForPMsDesign {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        line-height: 49px;
        letter-spacing: -1.21px;
        color: #050505;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 700;
      }

      .frame1000011304 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 40px;

        .getStarted {
          display: flex;
          align-items: center;
          width: 88px;
          height: 23px;
          line-height: 23px;
          letter-spacing: 0.01px;
          color: #121212;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }

        .forOrganizingEveryCo {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          width: 255px;
          height: 38px;
          line-height: 19px;
          letter-spacing: 0.1px;
          color: #050505;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }

        .lifetimeMember {
          flex-shrink: 0;
          line-height: 30px;
          letter-spacing: -0.4px;
          color: #050505;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .sectionSection {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          border: 4px solid #f6f5f4;
          border-radius: 12px;
          background: #f6f5f4;

          .header {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 12px 12px 0px 0px;
            background: #ffffff;
            padding: 24px 28px;
            row-gap: 14px;

            .personalPng {
              flex-shrink: 0;
              width: 27px;
              height: 32px;
              overflow: hidden;
            }
          }

          .frame1000011306 {
            position: relative;
            flex-shrink: 0;
            width: 311px;
            height: 128px;

            .div {
              display: flex;
              position: absolute;
              top: 24px;
              left: 28px;
              align-items: flex-start;
              padding-bottom: 40px;
              width: 239px;
              height: 80px;

              .heading30 {
                display: flex;
                align-items: center;
                width: 239px;
                height: 40px;
                line-height: 40px;
                letter-spacing: -0.85px;
                color: #050505;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 36px;
                font-weight: 700;
              }
            }

            .link4 {
              display: flex;
              position: absolute;
              top: 75px;
              left: 28px;
              align-items: center;
              border: 1px solid #0000001a;
              border-radius: 5px;
              box-shadow: 0px 4px 9px 0px #0000000c, 0px 2px 3px 0px #00000013,
                0px 0px 1px 0px #0000001f;
              background: #ffffff;
              padding: 5px 74px 6px;
              width: 239px;
              height: 36px;
            }
          }
        }

        .sectionSection2 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          border: 4px solid #f6f5f4;
          border-radius: 12px;
          background: #f6f5f4;

          .header2 {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 12px 12px 0px 0px;
            background: #ffffff;
            padding: 24px 28px;
            row-gap: 14px;

            .proPng {
              flex-shrink: 0;
              width: 35px;
              height: 32px;
              overflow: hidden;
            }

            .monthlyMembership {
              flex-shrink: 0;
              align-self: stretch;
              line-height: 30px;
              letter-spacing: -0.4px;
              color: #050505;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .divPricingPlanCardHi {
              display: flex;
              position: absolute;
              top: 0;
              right: -1px;
              flex-shrink: 0;
              align-items: center;
              border-radius: 0px 12px 0px 8px;
              background: #f6f5f4;
              padding: 4px 12px;
              width: 102px;
              height: 25px;

              .mostPopular {
                display: flex;
                align-items: center;
                width: 78px;
                height: 17px;
                line-height: 17px;
                letter-spacing: 0.09px;
                color: #666666;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 600;
              }
            }
          }

          .frame1000011308 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -4px;
            padding: 24px 44px 24px 28px;
            row-gap: 11px;

            .heading38 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 107px;
              height: 40px;
              line-height: 40px;
              letter-spacing: -0.85px;
              color: #050505;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 36px;
              font-weight: 700;
            }

            .link5 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              border-radius: 5px;
              box-shadow: 0px 0px 1px 0px #0000001f, 0px 2px 3px 0px #00000012,
                0px 4px 9px 0px #0000000d;
              background: #121212;
              padding: 6px 75px 7px;

              .getStarted2 {
                display: flex;
                align-items: center;
                width: 88px;
                height: 23px;
                line-height: 23px;
                letter-spacing: 0.01px;
                color: #ffffff;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 600;
              }
            }
          }
        }

        .sectionSection3 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          border: 4px solid #f6f5f4;
          border-radius: 12px;
          background: #f6f5f4;

          .header3 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 12px 12px 0px 0px;
            background: #ffffff;
            padding: 24px 28px;
            row-gap: 14px;

            .teamPng {
              flex-shrink: 0;
              width: 29px;
              height: 32px;
              overflow: hidden;
            }
          }

          .frame1000011310 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: -4px;
            padding: 24px 44px 24px 28px;
            row-gap: 11px;

            .heading315 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 106px;
              height: 40px;
              line-height: 40px;
              letter-spacing: -0.85px;
              color: #050505;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 36px;
              font-weight: 700;
            }

            .link6 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              border: 1px solid #0000001a;
              border-radius: 5px;
              box-shadow: 0px 4px 9px 0px #0000000c, 0px 2px 3px 0px #00000013,
                0px 0px 1px 0px #0000001f;
              background: #ffffff;
              padding: 5px 74px 6px;
            }
          }
        }
      }

      .topPeekIPng {
        position: absolute;
        top: -5px;
        left: 771px;
        flex-shrink: 0;
        width: 221px;
        height: 150px;
        overflow: hidden;
      }
    }

    .frame1000011311 {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-top: 40px;
      padding-bottom: 40px;
      row-gap: 44px;

      .image {
        display: flex;
        position: absolute;
        top: -27px;
        left: 89px;
        flex-shrink: 0;
        align-items: center;
        padding: 13px 25px 13px 0px;
        width: 178px;
        height: 181px;
        overflow: hidden;

        .topPeekRed02Png {
          width: 153px;
          height: 155px;
          overflow: hidden;
        }
      }

      .heading2ForPMsDesign2 {
        flex-shrink: 0;
        align-self: stretch;
        z-index: 1;
        text-align: center;
        line-height: 49px;
        letter-spacing: -1.21px;
        color: #050505;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 700;
      }

      .frame1000011291 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 24px;
        z-index: 2;

        .holdAave100 {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 23px;
          letter-spacing: 0.01px;
          color: #121212;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .heading2Product {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          width: 247px;
          height: 24px;
          line-height: 24px;
          letter-spacing: -0.13px;
          color: #050505;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 700;
        }

        .frame1000011301 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 3px;
          margin-right: 198px;

          .linkSeeHowPMsUseNoti {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: #996600;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }

          .link7 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 16px;
            height: 24px;
            line-height: 24px;
            letter-spacing: 0;
            color: #996600;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }
        }

        .section {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          border-radius: 12px;
          background: #f6f5f4;
          padding: 26px 34px;
          row-gap: 10px;

          .frame1000011302 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 13px;
            row-gap: 5px;

            .frame1 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: center;
              margin-right: 150px;
              height: 40px;
              row-gap: 10px;

              .aave {
                flex-shrink: 0;
                width: 97px;
                height: 16px;
                overflow: hidden;
              }
            }
          }
        }

        .section2 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          border-radius: 12px;
          background: #f6f5f4;
          padding: 26px 34px;
          row-gap: 10px;

          .frame10000113022 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 13px;
            row-gap: 5px;

            .bnb {
              flex-shrink: 0;
              width: 40px;
              height: 40px;
              overflow: hidden;
            }
          }
        }

        .section3 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          border-radius: 12px;
          background: #f6f5f4;
          padding: 26px 34px;
          row-gap: 10px;

          .frame10000113023 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 13px;
            row-gap: 5px;

            .mAtic {
              flex-shrink: 0;
              width: 40px;
              height: 36px;
              overflow: hidden;
            }
          }
        }
      }
    }

    .frame24 {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 60px;
      row-gap: 30px;

      .footerHeaderHeading1 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        width: 1033px;
        height: 58px;
        line-height: 58px;
        letter-spacing: -1.63px;
        color: #121212;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 700;
      }

      .frame5 {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 30px;

        .telegram {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: #333333;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
          font-weight: 700;
        }

        .frame {
          flex-shrink: 0;
          width: 32px;
          height: 32px;
          overflow: hidden;
        }

        .frame22 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          border-radius: 5px;
          background: #ffbb33;
          padding: 8px 20px;
        }

        .frame143542 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-radius: 8px;
          background: #121212;
          padding: 22px;
          width: 64px;
          height: 64px;
          overflow: hidden;
        }

        .frame14354 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 10px;
          margin-right: 22px;
          margin-left: 22px;
          border-radius: 8px;
          background: #121212;
          padding: 16px;
          overflow: hidden;
        }

        .frame14349 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          background: #f6f5f4;
          padding: 30px 20px;
          row-gap: 20px;

          .frame14353 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            margin-right: 12px;
            margin-left: 12px;
            row-gap: 10px;

            .frame2 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 10px;
              margin-right: 7px;
              margin-left: 7px;
              border-radius: 5px;
              background: #ffbb33;
              padding: 8px 20px;
            }
          }
        }

        .frame143492 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          background: #f6f5f4;
          padding: 30px 20px;
          row-gap: 20px;

          .frame143532 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            margin-right: 12px;
            margin-left: 12px;
            row-gap: 10px;
          }
        }

        .frame14350 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          background: #f6f5f4;
          padding: 30px 20px;
          row-gap: 20px;

          .frame143533 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            margin-right: 19px;
            margin-left: 19px;
            row-gap: 10px;
          }
        }

        .frame143502 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          background: #f6f5f4;
          padding: 30px 20px;
          row-gap: 20px;

          .frame143534 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            margin-right: -1px;
            margin-left: -1px;
            row-gap: 10px;
          }
        }

        .frame14351 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          background: #f6f5f4;
          padding: 30px 20px;
          row-gap: 20px;

          .frame143543 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 8px;
            background: #04231e;
            padding: 22px;
            width: 64px;
            height: 64px;
            overflow: hidden;

            .image3 {
              flex-shrink: 0;
              width: 40px;
              height: 40px;
            }
          }

          .frame143535 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            margin-right: 4px;
            margin-left: 4px;
            row-gap: 10px;

            .frame23 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 10px;
              margin-right: 12px;
              margin-left: 12px;
              border-radius: 5px;
              background: #ffbb33;
              padding: 8px 20px;
            }
          }
        }

        .frame143512 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          background: #f6f5f4;
          padding: 30px 20px;
          row-gap: 20px;

          .frame143544 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 8px;
            background: #121212;
            padding: 22px;
            width: 64px;
            height: 64px;
            overflow: hidden;

            .frame3 {
              flex-shrink: 0;
              width: 36px;
              height: 36px;
              overflow: hidden;
            }
          }

          .frame143536 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            margin-right: 19px;
            margin-left: 19px;
            row-gap: 10px;

            .clubBot {
              flex-shrink: 0;
              line-height: 19px;
              letter-spacing: 0;
              color: #333333;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 700;
            }
          }
        }
      }

      .group6356119 {
        display: flex;
        position: absolute;
        top: 141px;
        left: 1010px;
        flex-shrink: 0;
        align-items: center;
        width: 91px;
        height: 161px;

        .sidePeekBPng {
          width: 91px;
          height: 161px;
          overflow: hidden;
          rotate: -180deg;
        }
      }
    }

    .frame1000011303 {
      display: inline-flex;
      position: relative;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      margin-right: 4px;
      margin-left: 4px;
      padding-top: 40px;
      padding-bottom: 40px;
      row-gap: 40px;

      .topPeekAPng {
        position: absolute;
        top: -11px;
        left: 60px;
        flex-shrink: 0;
        width: 150px;
        height: 218px;
        overflow: hidden;
        rotate: -180deg;
      }

      .footerHeaderHeading12 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        z-index: 1;
        width: 1024px;
        height: 58px;
        line-height: 58px;
        letter-spacing: -1.63px;
        color: #121212;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 700;
      }

      .article {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        z-index: 2;
        border-width: 1px 0px 0px;
        border-style: solid;
        border-color: #0000001a;
        background: #ffffff;
        padding-bottom: 1px;
        row-gap: 1px;

        .section4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          border-width: 0px 0px 1px;
          border-style: solid;
          border-color: #0000001a;
          padding-top: 16px;
          padding-bottom: 15px;
          min-width: 1024px;

          .buttonHowDoIActivate {
            display: flex;
            flex-grow: 1;
            align-items: center;
            width: 505px;
            height: 23px;
            line-height: 23px;
            letter-spacing: -0.01px;
            color: #121212;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }

          .buttonHowDoIActivate2 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            width: 505px;
            height: 23px;
            line-height: 23px;
            letter-spacing: -0.01px;
            color: #121212;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .buttonSvg {
            flex-shrink: 0;
            width: 14px;
            height: 14px;
            overflow: hidden;
          }
        }

        .section5 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          border-width: 0px 0px 1px;
          border-style: solid;
          border-color: #0000001a;
          padding-top: 16px;
          padding-bottom: 15px;
          min-width: 1024px;

          .buttonHowIsNotionAid {
            display: flex;
            flex-grow: 1;
            align-items: center;
            width: 501px;
            height: 23px;
            line-height: 23px;
            letter-spacing: -0.01px;
            color: #121212;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }

          .buttonHowDoIActivate3 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            width: 501px;
            height: 23px;
            line-height: 23px;
            letter-spacing: -0.01px;
            color: #121212;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .frame6356120 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            padding-right: 4px;
            padding-left: 4px;
            height: 22px;
            row-gap: 10px;

            .remove {
              flex-shrink: 0;
              background: #1c1b1f;
              width: 14px;
              height: 2px;
            }
          }
        }

        .frame1000011312 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 40px;
          padding: 20px 80px;

          .rectangle1 {
            flex-shrink: 0;
            width: 248px;
            height: 140px;
          }

          .frame1000011313 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: center;
            row-gap: 20px;

            .buttonHowDoIActivate4 {
              flex-shrink: 0;
              align-self: stretch;
              width: 576px;
              line-height: 17px;
              letter-spacing: -0.01px;
              color: #121212;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }

            .buttonHowDoIActivate5 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              width: 576px;
              height: 23px;
              line-height: 23px;
              letter-spacing: -0.01px;
              color: #121212;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }
      }

      .frame25 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        z-index: 3;
        margin-right: 456px;
        margin-left: 456px;
        border-radius: 5px;
        background: #ffbb33;
        padding: 8px 20px;
      }
    }

    .mainPictureNotionPar {
      flex-shrink: 0;
      width: 670px;
      height: 330px;
      overflow: hidden;
    }
  }

  .frame28 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    border-width: 1px 0px 0px;
    border-style: solid;
    border-color: #0000001a;
    background: #f6f5f4;
    padding: 49px 110px 50px;

    .frame12 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;

      .pets {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
      }

      .abcWeb3Club {
        flex-shrink: 0;
        line-height: 19px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .poweredByWeb3ClubAnd3 {
      flex-shrink: 0;
      line-height: 15px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;

      .poweredByWeb3ClubAnd {
        letter-spacing: 0;
        color: #000000cc;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }

      .poweredByWeb3ClubAnd2 {
        letter-spacing: 0;
        color: #f5a200;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}
