* {
  box-sizing: border-box;
}

.frame9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 30px;
  background: #f2eaff;
  padding-right: 60px;
  padding-left: 60px;
  width: 640px;
  height: 362px;
  row-gap: 20px;

  .alert {
    flex-shrink: 0;
    align-self: stretch;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  .frame14369 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 20px;

    .youAlreadyHaveTheFol {
      flex-shrink: 0;
      width: 431px;
      letter-spacing: 0;
      color: #000000;
      font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .monthlyMemberYearlyM {
      flex-shrink: 0;
      width: 431px;
      letter-spacing: 0;
      color: #7135ff;
      font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
    }

    .doYouStillWantToJoin {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: #000000;
      font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .frame6356126 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 20px;

      .cancel {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: -0.14px;
        color: #ffffff;
        font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
      }

      .btn {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 5px;
        border-radius: 30px;
        padding: 10px 20px;
        background-image: linear-gradient(90deg, #8384f0 0%, #7135ff 100%);
      }

      .btn2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
        border-radius: 30px;
        padding: 10px 20px;
        background-image: linear-gradient(90deg, #8384f0 0%, #7135ff 100%);

        .arrowRightLine {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }
      }
    }
  }

  .frame {
    position: absolute;
    top: 41px;
    right: 40px;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
}
