* {
  box-sizing: border-box;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline-width: 4px;
  outline-style: solid;
  outline-color: #ef5da8;
  border-radius: 40px;
  background: #ffffff;
  padding: 5px;
  width: 640px;
  height: 357px;

  .frame9 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    border-radius: 40px;
    background-color: #fde2ff;
    padding-right: 60px;
    padding-left: 60px;
    height: 347px;
    row-gap: 20px;
    background-image: linear-gradient(180deg, #ef5da866 0%, #ef5da800 100%);

    .alert {
      flex-shrink: 0;
      align-self: stretch;
      text-align: center;
      line-height: 33px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-weight: 700;
    }

    .frame14369 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 20px;

      .youAlreadyHaveTheFol {
        flex-shrink: 0;
        width: 431px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .monthlyMemberYearlyM {
        flex-shrink: 0;
        width: 431px;
        letter-spacing: 0;
        color: #aa2f80;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
      }

      .doYouStillWantToJoin {
        flex-shrink: 0;
        line-height: 19px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .frame3718 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 20px;

        .chevronForward {
          width: 20px;
          height: 20px;
        }

        .frame3716 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: space-between;
          border-radius: 50px;
          background: #f4b0df;
          padding: 10px 10px 10px 50px;
          height: 40px;

          .cancel {
            width: 145px;
            text-align: center;
            line-height: 16px;
            letter-spacing: 0;
            color: #000000;
            font-family: "Alimama FangYuanTi VF", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }
        }

        .frame37162 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: space-between;
          border-radius: 50px;
          background: #aa2f80;
          padding: 10px 10px 10px 50px;
          height: 40px;

          .confirm {
            width: 145px;
            text-align: center;
            line-height: 16px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "Alimama FangYuanTi VF", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }

    .frame {
      position: absolute;
      top: 41px;
      right: 40px;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }
  }
}
