* {
  box-sizing: border-box;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 640px;
  height: 353px;

  .frame6 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border-width: 2px 0px 0px;
    border-style: solid;
    border-color: #000000cc;
    background: #f0f0f0;
    padding-top: 2px;

    .frame14380 {
      display: flex;
      position: relative;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      border-width: 1px 0px;
      border-style: solid;
      border-color: #000000cc;
      padding-top: 9px;
      padding-bottom: 9px;
      width: 640px;
      min-width: 640px;

      .alert {
        flex-shrink: 0;
        line-height: 29px;
        letter-spacing: 0;
        color: #000000cc;
        font-family: "Poltawski Nowy", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 600;
      }

      .frame {
        position: absolute;
        top: 12px;
        left: 601px;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
    }
  }

  .frame14369 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 2px;
    background: #f0f0f0;
    padding: 40px 60px;
    row-gap: 20px;

    .youAlreadyHaveTheFol {
      flex-shrink: 0;
      width: 431px;
      letter-spacing: 0;
      color: #000000;
      font-family: "Poltawski Nowy", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .monthlyMemberYearlyM {
      flex-shrink: 0;
      width: 431px;
      letter-spacing: 0;
      color: #000000;
      font-family: "Poltawski Nowy", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
    }

    .doYouStillWantToJoin {
      flex-shrink: 0;
      line-height: 21px;
      letter-spacing: 0;
      color: #000000;
      font-family: "Poltawski Nowy", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .frame14391 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 20px;

      .frame11 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border-radius: 2px;
        background: #454545;
        padding: 8px 20px;

        .cancel {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Poltawski Nowy", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          text-transform: UPPERCASE;
        }
      }
    }
  }
}
