* {
  box-sizing: border-box;
}

.frame9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  background: #f8f8f8;
  padding-right: 60px;
  padding-left: 60px;
  width: 640px;
  height: 329px;
  row-gap: 20px;

  .alert {
    flex-shrink: 0;
    align-self: stretch;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  .frame14369 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 20px;

    .youAlreadyHaveTheFol {
      flex-shrink: 0;
      width: 431px;
      letter-spacing: 0;
      color: #000000;
      font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
      font-size: 16px;
    }

    .monthlyMemberYearlyM {
      flex-shrink: 0;
      width: 431px;
      letter-spacing: 0;
      color: #ffbb33;
      font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
    }

    .doYouStillWantToJoin {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: #000000;
      font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Helvetica, sans-serif;
      font-size: 16px;
    }

    .frame1000011318 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 20px;

      .link {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid #0000001a;
        border-radius: 5px;
        box-shadow: 0px 4px 9px 0px #0000000c, 0px 2px 3px 0px #00000013,
          0px 0px 1px 0px #0000001f;
        background: #ffffff;
        padding: 5px 19px;

        .cancel {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 88px;
          height: 23px;
          line-height: 23px;
          letter-spacing: 0.01px;
          color: #121212;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }
      }

      .link2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 1px 0px #0000001f, 0px 2px 3px 0px #00000012,
          0px 4px 9px 0px #0000000d;
        background: #121212;
        padding: 6px 10px;

        .confirm {
          flex-grow: 1;
          text-align: center;
          line-height: 23px;
          letter-spacing: 0.01px;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  .frame {
    position: absolute;
    top: 41px;
    right: 40px;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
}
