* {
  box-sizing: border-box;
}

.frame9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 40px;
  background: #ffffff;
  padding-right: 60px;
  padding-left: 60px;
  width: 640px;
  height: 353px;
  row-gap: 20px;

  .alert {
    flex-shrink: 0;
    align-self: stretch;
    text-align: center;
    line-height: 33px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

  .frame14369 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 20px;

    .youAlreadyHaveTheFol {
      flex-shrink: 0;
      width: 431px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .monthlyMemberYearlyM {
      flex-shrink: 0;
      width: 431px;
      letter-spacing: 0;
      color: #2aada5;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
    }

    .doYouStillWantToJoin {
      flex-shrink: 0;
      line-height: 19px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .frame14368 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 10px;

      .frame11 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border: 2px solid #2aada5;
        border-radius: 40px;
        padding: 13px 42px;

        .cancel {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: #2aada5;
          font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 800;
        }
      }

      .frame12 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border-radius: 40px;
        background: #2aada5;
        padding: 15px 44px;

        .confirm {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Manrope, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 800;
        }
      }
    }
  }

  .frame {
    position: absolute;
    top: 41px;
    right: 40px;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
}
